<html>
    <head>
        <title>aidanshilling.com</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="h100 flex-container space-between">
            <div style="margin-top: 6%" class="content-box flex-container">
                <p>Welcome to</p>
                <h2>aidanshilling.com</h2>
            </div>
            <div class="flex-container-row">
                <div class="img-box flex-container shadow">
                    <img src="/assets/pictures/beachy.jpg" />
                    <p style="margin-top: 5px">I like to take pictures.</p>
                </div>
                <div class="img-box flex-container shadow">
                    <img src="/assets/pictures/cooltree.png" />
                    <p style="margin-top: 5px">This is a cool tree.</p>
                </div>
            </div>

            <p style="margin-bottom: 6%">
                Please allow me a few days to compete this site.
            </p>
        </div>
    </body>
</html>
